####################################
# SERVER
####################################

PORT=3000
NODE_ENV=production

####################################
# TELEGRAM
####################################

BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

####################################
# ADMIN
####################################

ADMIN_ID=YOUR_TELEGRAM_ID

####################################
# MONGODB
####################################

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/BeeSMS

####################################
# JWT
####################################

JWT_SECRET=CHANGE_THIS_TO_RANDOM_64_CHAR_SECRET

####################################
# BeeSMS API
####################################

BEESMS_API_URL=https://api.beesms.pro
BEESMS_API_TOKEN=YOUR_BEESMS_API_TOKEN

####################################
# PAYHERE
####################################

PAYHERE_MERCHANT_ID=
PAYHERE_MERCHANT_SECRET=

####################################
# STRIPE
####################################

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

####################################
# BINANCE PAY
####################################

BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_WEBHOOK_SECRET=

####################################
# MANUAL BANK
####################################

BANK_NAME=
ACCOUNT_NAME=
ACCOUNT_NUMBER=

####################################
# WEBHOOK
####################################

WEBHOOK_URL=
